* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: rgba(14, 13, 13, 0.509);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.navbar img {
  width: 100px;
  padding: 0 10px;
}
ul {
  margin-right: 20px;
}
ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}
ul li a {
  text-decoration: none;
  color: black;
}
ul li a:hover {
  background-color: rgb(227, 221, 221);
}
.dropdown-content {
  margin-top: 10px;
  position: absolute;
  background-color: rgb(216, 216, 216);
  display: none;
  width: 200px;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.3);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 5px;
}
